* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #050505;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.titulo {
  text-align: center;
  padding: 70px 20px;
  margin-bottom: 55px;
  border: 1px solid #ff1a1a;
  border-radius: 20px;
  background: linear-gradient(135deg, #090909, #210000, #090909);
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.18);
}

.titulo h1 {
  font-size: 48px;
  color: #ff2020;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.titulo p {
  color: #aaa;
  font-size: 18px;
}

section {
  margin-bottom: 60px;
}

section h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 5px solid #ff1515;
}

.alunos,
.notas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.aluno,
.nota {
  background: #101010;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #292929;
  transition: 0.3s;
}

.aluno:hover,
.nota:hover {
  transform: translateY(-7px);
  border-color: #ff1515;
  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.2);
}

.aluno h3,
.nota h3 {
  color: #ff2525;
  font-size: 21px;
  margin-bottom: 10px;
}

.aluno p,
.nota p {
  color: #aaa;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.produto {
  background: linear-gradient(145deg, #111, #080808);
  padding: 28px;
  border-radius: 18px;
  border: 1px solid #292929;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.produto:hover {
  transform: translateY(-8px);
  border-color: #ff1515;
  box-shadow: 0 15px 40px rgba(255, 0, 0, 0.22);
}

.produto h3 {
  color: #fff;
  font-size: 23px;
  margin-bottom: 10px;
}

.produto p {
  color: #999;
  line-height: 1.5;
}

.produto strong {
  display: block;
  color: #ff2020;
  font-size: 28px;
  margin-top: 18px;
}

.status {
  display: inline-block;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 18px;
}

.disponivel {
  background: #102d19;
  color: #40ff72;
}

.indisponivel {
  background: #351010;
  color: #ff4c4c;
}

.produto button {
  border: none;
  padding: 14px;
  border-radius: 10px;
  background: #e00000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.produto button:hover {
  background: #ff2222;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  transform: scale(1.02);
}

@media (max-width: 700px) {
  .alunos,
  .notas,
  .produtos {
    grid-template-columns: 1fr;
  }

  .titulo {
    padding: 50px 20px;
  }

  .titulo h1 {
    font-size: 32px;
  }

  section h2 {
    font-size: 25px;
  }
  
}
